auto_shop/server/controllers/test.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?> 
<definitions name='StockQuote' 
 targetNamespace='http://example.org/StockQuote' 
 xmlns:tns='http://example.org/StockQuote' 
 xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
 xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
 xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' 
 xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' 
 xmlns='http://schemas.xmlsoap.org/wsdl/'> 

<message name='getDetailRequest'> 
 <part name='id' type='xsd:int'/> 
</message> 
<message name='getDetailResponse'> 
 <part name='Result' type='xsd:array'/> 
</message> 
<message name='getAllCarsRequest'> 
</message> 
<message name='getAllCarsResponse'> 
 <part name='Result' type='xsd:array'/> 
</message>
<message name='orderRequest'>
<part name='id' type='xsd:int'/> 
<part name='fname' type='xsd:string'/> 
<part name='lname' type='xsd:string'/> 
<part name='payType' type='xsd:string'/> 
</message> 
<message name='orderResponse'> 
 <part name='Result' type='xsd:string'/> 
</message>
<message name='getDataRequest'> 
</message> 
<message name='getDataResponse'> 
 <part name='Result' type='xsd:array'/> 
</message>

<portType name='StockQuotePortType'> 
 <operation name='getDetail'> 
  <input message='tns:getDetailRequest'/> 
  <output message='tns:getDetailResponse'/> 
 </operation> 
  <operation name='getAllCars'> 
  <input message='tns:getAllCarsRequest'/> 
  <output message='tns:getAllCarsResponse'/> 
 </operation> 
   <operation name='order'> 
  <input message='tns:orderRequest'/> 
  <output message='tns:orderResponse'/> 
 </operation> 
   <operation name='getData'> 
  <input message='tns:getDataRequest'/> 
  <output message='tns:getDataResponse'/> 
 </operation> 
</portType> 

<binding name='StockQuoteBinding' type='tns:StockQuotePortType'> 
 <soap:binding style='rpc' 
  transport='http://schemas.xmlsoap.org/soap/http'/> 
 <operation name='getDetail'> 
  <soap:operation soapAction='urn:xmethods-delayed-quotes#getDetail'/> 
  <input> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </input> 
  <output> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </output> 
 </operation> 
  <operation name='getAllCars'> 
  <soap:operation soapAction='urn:xmethods-delayed-quotes#getAllCars'/> 
  <output> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </output> 
 </operation> 
   <operation name='order'> 
  <soap:operation soapAction='urn:xmethods-delayed-quotes#order'/> 
  <input> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </input> 
  <output> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </output> 
 </operation> 
   <operation name='getData'> 
  <soap:operation soapAction='urn:xmethods-delayed-quotes#getData'/> 
  <input> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </input> 
  <output> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </output> 
 </operation> 
</binding> 

<service name='StockQuoteService'> 
 <port name='StockQuotePort' binding='StockQuoteBinding'> 
  <soap:address location='http://localhost/~user8/auto_shop/server/controllers/ServerController.php'/> 
 </port> 
</service> 
</definitions>